a.menu-671, ul.links li.menu-671 a {
  background-image: url(/sites/default/files/styles/menu_icon/public/menu_icons/menu_icon_671.png);
  padding-left:18px;
  background-repeat: no-repeat;
  background-position: left;
  height: 18px;
}

a:hover.menu-671,
a:focus.menu-671,
ul.links li.menu-671 a:hover,
ul.links li.menu-671 a:focus,
a.active.menu-671,
a.active-trail.menu-671,
ul.links li.active.menu-671 a,
ul.links li.active-trail.menu-671 a {
  background-image: url(/sites/default/files/styles/menu_icon/public/menu_icons/menu_icon_hover_671.png);
}

a.menu-672, ul.links li.menu-672 a {
  background-image: url(/sites/default/files/styles/menu_icon/public/menu_icons/menu_icon_672.png);
  padding-left:16px;
  background-repeat: no-repeat;
  background-position: left;
  height: 18px;
}

a:hover.menu-672,
a:focus.menu-672,
ul.links li.menu-672 a:hover,
ul.links li.menu-672 a:focus,
a.active.menu-672,
a.active-trail.menu-672,
ul.links li.active.menu-672 a,
ul.links li.active-trail.menu-672 a {
  background-image: url(/sites/default/files/styles/menu_icon/public/menu_icons/menu_icon_hover_672.png);
}

a.menu-721, ul.links li.menu-721 a {
  background-image: url('/assets/image/dashboard.png');
  padding-left:18px;
  background-repeat: no-repeat;
  background-position: left;
  height: 18px;
}

a:hover.menu-721,
a:focus.menu-721,
ul.links li.menu-721 a:hover,
ul.links li.menu-721 a:focus,
a.active.menu-721,
a.active-trail.menu-721,
ul.links li.active.menu-721 a,
ul.links li.active-trail.menu-721 a {
  background-image: url('/assets/image/dashboard.png');
}

a.menu-1090, ul.links li.menu-1090 a {
  background-image: url(/sites/default/files/styles/menu_icon/public/menu_icons/menu_icon_1090.png);
  padding-left:16px;
  background-repeat: no-repeat;
  background-position: left;
  height: 18px;
}

a:hover.menu-1090,
a:focus.menu-1090,
ul.links li.menu-1090 a:hover,
ul.links li.menu-1090 a:focus,
a.active.menu-1090,
a.active-trail.menu-1090,
ul.links li.active.menu-1090 a,
ul.links li.active-trail.menu-1090 a {
  background-image: url(/sites/default/files/styles/menu_icon/public/menu_icons/menu_icon_hover_1090.png);
}

a.menu-1091, ul.links li.menu-1091 a {
  background-image: url(/sites/default/files/styles/menu_icon/public/menu_icons/menu_icon_1091.png);
  padding-left:17px;
  background-repeat: no-repeat;
  background-position: left;
  height: 18px;
}

a:hover.menu-1091,
a:focus.menu-1091,
ul.links li.menu-1091 a:hover,
ul.links li.menu-1091 a:focus,
a.active.menu-1091,
a.active-trail.menu-1091,
ul.links li.active.menu-1091 a,
ul.links li.active-trail.menu-1091 a {
  background-image: url(/sites/default/files/styles/menu_icon/public/menu_icons/menu_icon_hover_1091.png);
}

a.menu-1094, ul.links li.menu-1094 a {
  background-image: url('/assets/image/holiday.png');
  padding-left:17px;
  background-repeat: no-repeat;
  background-position: left;
  height: 18px;
}

a:hover.menu-1094,
a:focus.menu-1094,
ul.links li.menu-1094 a:hover,
ul.links li.menu-1094 a:focus,
a.active.menu-1094,
a.active-trail.menu-1094,
ul.links li.active.menu-1094 a,
ul.links li.active-trail.menu-1094 a {
  background-image: urlurl('/assets/image/holiday.png');
}


a.menu-1092, ul.links li.menu-1092 a {
  background-image: url(http://hrms.knowarth.com/sites/default/files/styles/menu_icon/public/menu_icons/menu_icon_1092.png);
  padding-left:18px;
  background-repeat: no-repeat;
  background-position: left;
  height: 18px;
}

a:hover.menu-1092,
a:focus.menu-1092,
ul.links li.menu-1092 a:hover,
ul.links li.menu-1092 a:focus,
a.active.menu-1092,
a.active-trail.menu-1092,
ul.links li.active.menu-1092 a,
ul.links li.active-trail.menu-1092 a {
  background-image: url(http://hrms.knowarth.com/sites/default/files/styles/menu_icon/public/menu_icons/menu_icon_hover_1092.png);
}

a.menu-1120, ul.links li.menu-1120 a {
  background-image: url(/sites/default/files/styles/menu_icon/public/menu_icons/menu_icon_1120.png);
  padding-left:17px;
  background-repeat: no-repeat;
  background-position: left;
  height: 18px;
}

a:hover.menu-1120,
a:focus.menu-1120,
ul.links li.menu-1120 a:hover,
ul.links li.menu-1120 a:focus,
a.active.menu-1120,
a.active-trail.menu-1120,
ul.links li.active.menu-1120 a,
ul.links li.active-trail.menu-1120 a {
  background-image: url(/sites/default/files/styles/menu_icon/public/menu_icons/menu_icon_hover_1120.png);
}

a.menu-1121, ul.links li.menu-1121 a {
  background-image: url('/assets/image/emp_contact.png');
  padding-left:17px;
  background-repeat: no-repeat;
  background-position: left;
  height: 18px;
}

a:hover.menu-1121,
a:focus.menu-1121,
ul.links li.menu-1121 a:hover,
ul.links li.menu-1121 a:focus,
a.active.menu-1121,
a.active-trail.menu-1121,
ul.links li.active.menu-1121 a,
ul.links li.active-trail.menu-1121 a {
  background-image: url('/assets/image/emp_contact.png');
}

a.menu-1122, ul.links li.menu-1122 a {
  background-image: url(/sites/default/files/styles/menu_icon/public/menu_icons/menu_icon_1122.png);
  padding-left:18px;
  background-repeat: no-repeat;
  background-position: left;
  height: 18px;
}

a:hover.menu-1122,
a:focus.menu-1122,
ul.links li.menu-1122 a:hover,
ul.links li.menu-1122 a:focus,
a.active.menu-1122,
a.active-trail.menu-1122,
ul.links li.active.menu-1122 a,
ul.links li.active-trail.menu-1122 a {
  background-image: url(/sites/default/files/styles/menu_icon/public/menu_icons/menu_icon_hover_1122.png);
}

a.menu-1229, ul.links li.menu-1229 a {
  background-image: url(/sites/default/files/styles/menu_icon/public/menu_icons/menu_icon_1229.png);
  padding-left:17px;
  background-repeat: no-repeat;
  background-position: left;
  height: 18px;
}

a:hover.menu-1229,
a:focus.menu-1229,
ul.links li.menu-1229 a:hover,
ul.links li.menu-1229 a:focus,
a.active.menu-1229,
a.active-trail.menu-1229,
ul.links li.active.menu-1229 a,
ul.links li.active-trail.menu-1229 a {
  background-image: url(/sites/default/files/styles/menu_icon/public/menu_icons/menu_icon_hover_1229.png);
}

a.menu-1230, ul.links li.menu-1230 a {
  background-image: url(/sites/default/files/styles/menu_icon/public/menu_icons/menu_icon_1230.png);
  padding-left:18px;
  background-repeat: no-repeat;
  background-position: left;
  height: 18px;
}

a:hover.menu-1230,
a:focus.menu-1230,
ul.links li.menu-1230 a:hover,
ul.links li.menu-1230 a:focus,
a.active.menu-1230,
a.active-trail.menu-1230,
ul.links li.active.menu-1230 a,
ul.links li.active-trail.menu-1230 a {
  background-image: url(/sites/default/files/styles/menu_icon/public/menu_icons/menu_icon_hover_1230.png);
}

a.menu-1237, ul.links li.menu-1237 a {
  background-image: url(/sites/default/files/styles/menu_icon/public/menu_icons/menu_icon_1237.png);
  padding-left:20px;
  background-repeat: no-repeat;
  background-position: left;
  height: 18px;
}

a:hover.menu-1237,
a:focus.menu-1237,
ul.links li.menu-1237 a:hover,
ul.links li.menu-1237 a:focus,
a.active.menu-1237,
a.active-trail.menu-1237,
ul.links li.active.menu-1237 a,
ul.links li.active-trail.menu-1237 a {
  background-image: url(/sites/default/files/styles/menu_icon/public/menu_icons/menu_icon_hover_1237.png);
}

a.menu-1238, ul.links li.menu-1238 a {
  background-image: url(/sites/default/files/styles/menu_icon/public/menu_icons/menu_icon_1238.png);
  padding-left:17px;
  background-repeat: no-repeat;
  background-position: left;
  height: 18px;
}

a:hover.menu-1238,
a:focus.menu-1238,
ul.links li.menu-1238 a:hover,
ul.links li.menu-1238 a:focus,
a.active.menu-1238,
a.active-trail.menu-1238,
ul.links li.active.menu-1238 a,
ul.links li.active-trail.menu-1238 a {
  background-image: url(/sites/default/files/styles/menu_icon/public/menu_icons/menu_icon_hover_1238.png);
}

a.menu-1239, ul.links li.menu-1239 a {
  background-image: url(/sites/default/files/styles/menu_icon/public/menu_icons/menu_icon_1239.png);
  padding-left:17px;
  background-repeat: no-repeat;
  background-position: left;
  height: 18px;
}

a:hover.menu-1239,
a:focus.menu-1239,
ul.links li.menu-1239 a:hover,
ul.links li.menu-1239 a:focus,
a.active.menu-1239,
a.active-trail.menu-1239,
ul.links li.active.menu-1239 a,
ul.links li.active-trail.menu-1239 a {
  background-image: url(/sites/default/files/styles/menu_icon/public/menu_icons/menu_icon_hover_1239.png);
}

a.menu-1240, ul.links li.menu-1240 a {
  background-image: url(/sites/default/files/styles/menu_icon/public/menu_icons/menu_icon_1240.png);
  padding-left:17px;
  background-repeat: no-repeat;
  background-position: left;
  height: 18px;
}

a:hover.menu-1240,
a:focus.menu-1240,
ul.links li.menu-1240 a:hover,
ul.links li.menu-1240 a:focus,
a.active.menu-1240,
a.active-trail.menu-1240,
ul.links li.active.menu-1240 a,
ul.links li.active-trail.menu-1240 a {
  background-image: url(/sites/default/files/styles/menu_icon/public/menu_icons/menu_icon_hover_1240.png);
}

a.menu-1249, ul.links li.menu-1249 a {
  background-image: url('/assets/image/mycolleagues.png');
  padding-left:16px;
  background-repeat: no-repeat;
  background-position: left;
  height: 18px;
}

a:hover.menu-1249,
a:focus.menu-1249,
ul.links li.menu-1249 a:hover,
ul.links li.menu-1249 a:focus,
a.active.menu-1249,
a.active-trail.menu-1249,
ul.links li.active.menu-1249 a,
ul.links li.active-trail.menu-1249 a {
  background-image: url('/assets/image/mycolleagues.png');
}

a.menu-1250, ul.links li.menu-1250 a {
  background-image: url(/sites/default/files/styles/menu_icon/public/menu_icons/menu_icon_1250.png);
  padding-left:17px;
  background-repeat: no-repeat;
  background-position: left;
  height: 18px;
}

a:hover.menu-1250,
a:focus.menu-1250,
ul.links li.menu-1250 a:hover,
ul.links li.menu-1250 a:focus,
a.active.menu-1250,
a.active-trail.menu-1250,
ul.links li.active.menu-1250 a,
ul.links li.active-trail.menu-1250 a {
  background-image: url(/sites/default/files/styles/menu_icon/public/menu_icons/menu_icon_hover_1250.png);
}

a.menu-1310, ul.links li.menu-1310 a {
  background-image: url(/sites/default/files/styles/menu_icon/public/menu_icons/menu_icon_1310.png);
  padding-left:17px;
  background-repeat: no-repeat;
  background-position: left;
  height: 18px;
}

a:hover.menu-1310,
a:focus.menu-1310,
ul.links li.menu-1310 a:hover,
ul.links li.menu-1310 a:focus,
a.active.menu-1310,
a.active-trail.menu-1310,
ul.links li.active.menu-1310 a,
ul.links li.active-trail.menu-1310 a {
  background-image: url(/sites/default/files/styles/menu_icon/public/menu_icons/menu_icon_hover_1310.png);
}

a.menu-1376, ul.links li.menu-1376 a {
  background-image: url('/assets/image/lms.png');
  padding-left:17px;
  background-repeat: no-repeat;
  background-position: left;
  height: 18px;
}

a.menu-1377, ul.links li.menu-1377 a {
  background-image: url('/assets/image/icon-resume.png');
  padding-left:17px;
  background-repeat: no-repeat;
  background-position: left;
  height: 18px;
}

a.menu-1378, ul.links li.menu-1378 a {
  background-image: url('/assets/image/menu_icon_1239.png');
  padding-left:17px;
  background-repeat: no-repeat;
  background-position: left;
  height: 18px;
}

a.menu-1464, ul.links li.menu-1464 a {
  background-image: url('/assets/image/menu_icon_1310.png');
  padding-left:17px;
  background-repeat: no-repeat;
  background-position: left;
  height: 18px;
}

a:hover.menu-1376,
a:focus.menu-1376,
ul.links li.menu-1376 a:hover,
ul.links li.menu-1376 a:focus,
a.active.menu-1376,
a.active-trail.menu-1376,
ul.links li.active.menu-1376 a,
ul.links li.active-trail.menu-1376 a {
  background-image: url('/assets/image/lms.png');
}


a.menu-1412, ul.links li.menu-1412 a {
  background-image: url(/sites/default/files/styles/menu_icon/public/menu_icons/menu_icon_1412.png);
  padding-left:18px;
  background-repeat: no-repeat;
  background-position: left;
  height: 18px;
}

a:hover.menu-1412,
a:focus.menu-1412,
ul.links li.menu-1412 a:hover,
ul.links li.menu-1412 a:focus,
a.active.menu-1412,
a.active-trail.menu-1412,
ul.links li.active.menu-1412 a,
ul.links li.active-trail.menu-1412 a {
  background-image: url(/sites/default/files/styles/menu_icon/public/menu_icons/menu_icon_hover_1412.png);
}

a.menu-1586, ul.links li.menu-1586 a {
  background-image: url(/sites/default/files/styles/menu_icon/public/menu_icons/menu_icon_1239.png);
  padding-left:17px;
  background-repeat: no-repeat;
  background-position: left;
  height: 18px;
}

a:hover.menu-1586,
a:focus.menu-1586,
ul.links li.menu-1586 a:hover,
ul.links li.menu-1586 a:focus,
a.active.menu-1586,
a.active-trail.menu-1586,
ul.links li.active.menu-1586 a,
ul.links li.active-trail.menu-1586 a {
  background-image: url(/sites/default/files/styles/menu_icon/public/menu_icons/menu_icon_hover_1239.png);
}

a.menu-1595, ul.links li.menu-1595 a {
  background-image: url(/sites/default/files/styles/menu_icon/public/menu_icons/menu_icon_1238.png);
  padding-left:17px;
  background-repeat: no-repeat;
  background-position: left;
  height: 18px;
}

a:hover.menu-1595,
a:focus.menu-1595,
ul.links li.menu-1595 a:hover,
ul.links li.menu-1595 a:focus,
a.active.menu-1595,
a.active-trail.menu-1595,
ul.links li.active.menu-1595 a,
ul.links li.active-trail.menu-1595 a {
  background-image: url(/sites/default/files/styles/menu_icon/public/menu_icons/menu_icon_hover_1238.png);
}

a.menu-1600, ul.links li.menu-1600 a {
  background-image: url(/sites/default/files/styles/menu_icon/public/menu_icons/menu_icon_1238.png);
  padding-left:17px;
  background-repeat: no-repeat;
  background-position: left;
  height: 18px;
}

a:hover.menu-1600,
a:focus.menu-1600,
ul.links li.menu-1600 a:hover,
ul.links li.menu-1600 a:focus,
a.active.menu-1600,
a.active-trail.menu-1600,
ul.links li.active.menu-1600 a,
ul.links li.active-trail.menu-1600 a {
  background-image: url(/sites/default/files/styles/menu_icon/public/menu_icons/menu_icon_hover_1238.png);
}

a.menu-1601, ul.links li.menu-1601 a {
  background-image: url(/sites/default/files/styles/menu_icon/public/menu_icons/menu_icon_1239.png);
  padding-left:17px;
  background-repeat: no-repeat;
  background-position: left;
  height: 18px;
}

a:hover.menu-1601,
a:focus.menu-1601,
ul.links li.menu-1601 a:hover,
ul.links li.menu-1601 a:focus,
a.active.menu-1601,
a.active-trail.menu-1601,
ul.links li.active.menu-1601 a,
ul.links li.active-trail.menu-1601 a {
  background-image: url(/sites/default/files/styles/menu_icon/public/menu_icons/menu_icon_hover_1239.png);
}

.menu_icon reimbursement
{
    background-image: url(../image/reimbursement.png);
    padding-left: 20px;
    background-repeat: no-repeat;
    background-position: left;
    height: 18px;
}

